{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title|title }}
{% endblock title %}
{% block content %}
    <h1>Gallery</h1>
    <div style="display:flex;gap:1rem;flex-wrap:wrap;">
        {% for image in images %}
            <figure>
                <img 
                    src="{% static 'img/' %}{{ image }}" 
                    alt="{{ image }}"
                    width="200"
                >
            </figure>
        {% endfor %}
    </div>
{% endblock content %}